.main{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 25px 0;
    .home{
        display: grid;
        width: 100%;
        grid-template-columns: 300px 300px 300px 300px;
        grid-gap: 35px;
        @media screen and (max-width: 1024px) {
            display: grid;
            width: 100%;
            grid-template-columns: 300px 300px 300px;
            grid-gap: 35px;
        }
        @media screen and (max-width: 768px) {
            display: grid;
            width: 100%;
            grid-template-columns: 300px 300px;
            grid-gap: 50px;
        }
        @media screen and (max-width: 425px) {
            display: grid;
            width: 100%;
            grid-template-columns: 300px;
            grid-gap: 20px;
        }
    }
}